.container-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main aside aside aside aside"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    gap: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #1A3852;
    font-weight: 300;
}

.aside {
    padding: 25px 15% 0;
    grid-area: aside;
}

.footer {
    grid-area: footer;
    padding: 10px 0;
    border-top: 1px solid rgba(164, 158, 157, 0.2);
}

.main {
    grid-area: main;
    padding: 25px 0 0 15%;
}

.header {
    grid-area: header;
    border: 1px solid rgba(164, 158, 157, 0.2);
}

@media screen and (max-width: 768px) {
    .container-main {
        grid-template-areas:
            "header header header header header header header header header header header header"
            "main main main main main main main main main main main main"
            "aside aside aside aside aside aside aside aside aside aside aside aside"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

    .main {
        padding: 0 10%;
    }
}

